<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<head>
   <!--- basic page needs
   ================================================== -->
  <meta charset="utf-8">
	<title>Pystol.org - The Python fault injection platform</title>
	<meta name="description" content="The Python fault injection platform">
	<meta name="author" content="Carlos Camacho">
   <!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
 	<!-- CSS
   ================================================== -->
   <link rel="stylesheet" href="assets/css/base.css">
   <link rel="stylesheet" href="assets/css/main.css">
   <link rel="stylesheet" href="assets/css/vendor.css">
   <link rel="stylesheet" href="assets/css/termynal.css">
   <!-- script
   ================================================== -->
	<script src="assets/js/modernizr.js"></script>
          <link href="https://fonts.googleapis.com/css?family=Fira+Mono">
   <!-- favicons
	================================================== -->
	<link rel="icon" type="image/png" href="{{ 'assets/images/favicon.png' | absolute_url }}">
</head>
<body>

   <!-- header
    ================================================== -->
    <header class="main-header">
    	<div class="row">
    		<div class="logo">
 	         <a href="https://www.pystol.org">pystol</a>
 	      </div>
    	</div>

    	<a class="menu-toggle" href="#"><span>Menu</span></a>
    </header> <!-- /header -->

    <!-- navigation
    ================================================== -->
    <nav id="menu-nav-wrap">
    <h5>Site Pages</h5>
 		<ul class="nav-list">
 			<li><a href="https://www.github.com/pystol/pystol" title="">Project</a></li>
 			<li><a href="/docs" title="">Docs</a></li>
 		</ul>

 		<h5>pystol.org</h5>
 		<p>The fault injection platform.</p>

 	</nav>


	<!-- main content
   ================================================== -->
   <main id="main-404-content" class="main-content-particle-js">
   	<div class="content-wrap">
		   <div class="shadow-overlay"></div>
		   <div class="main-content">
		   	<div class="row">
		   		<div class="col-six">
			  			<h1 class="kern-this">The fault injection platform.</h1>
			  			<p>Use pystol to characterize the effects caused by a variety of simulated adverse conditions.</p>
			   	</div> <!-- /twelve -->
          <div class="col-six">
            <div id="termynal" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="500">
                <span data-ty="input">pip install pystol</span>
                <span data-ty="progress"></span>
                <span data-ty>Successfully installed pystol</span>
                <span data-ty="input">pystol deploy</span>
                <span data-ty>🚀 Deploying Pystol in the cluster.</span>
                <span data-ty>    📦 Namespace created.</span>
                <span data-ty>    📦 Config map created.</span>
                <span data-ty>    📦 CRD created.</span>
                <span data-ty>    📦 Service account created.</span>
                <span data-ty>    📦 Role created.</span>
                <span data-ty>    📦 Cluster role bindings created.</span>
                <span data-ty>    📦 Operator deployment created.</span>
                <span data-ty>    📦 UI deployment created.</span>
                <span data-ty>    📦 Service created.</span>
                <span data-ty>🏄 Done! Pystol is now deployed.</span>
                <span data-ty>🕐 Wait a few seconds to have the deployments up and running.</span>
            </div>
			   	</div>
		   	</div> <!-- /row -->
		   </div> <!-- /main-content -->
       <footer>
		   	<div class="row">
		   		<div class="col-seven tab-full social-links pull-right">
			   		<ul>
				   		<li><a href="https://www.github.com/pystol"><i class="fa fa-github"></i></a></li>
				   	</ul>
			   	</div>

          <div class="col-five tab-full bottom-links">
          <ul class="links">
            <li><a href="https://www.github.com/pystol/pystol" title="">Project</a></li>
       			<li><a href="/docs" title="">Docs</a></li>
          </ul>
        </div>
		   	</div> <!-- /row -->
		   </footer>
		</div> <!-- /content-wrap -->
   </main> <!-- /main-404-content -->
   <div id="preloader">
    	<div id="loader"></div>
   </div>
   <!-- Java Script
   ================================================== -->
   <script src="assets/js/jquery-2.1.3.min.js"></script>
   <script src="assets/js/plugins.js"></script>
   <script src="assets/js/main.js"></script>
   <script src="assets/js/termynal.js" data-termynal-container="#termynal"></script>

   <script>
     $(document).ready(function() {/**/
   });
   </script>

</body>
</html>
